.main-nav {
  height: var(--navbar-h);
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow) rgba(88, 9, 69, 0.098);
  display: flex;
  position: fixed;
  width: 100%;
  padding: .5em 1em;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
}

.main-nav .menu {
  border: none;
  border-radius: var(--radius);
  background: rgb(var(--purple-light));
  width: 2em;
  height: 2em;
  color: rgb(var(--purple));
}

.main-nav .menu svg {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

.main-nav img {
  padding: 5px 0;
  height: 100%;
  object-fit: contain;
}

.main-nav .spacer {
  width: 500px;
  max-width: 30vw;
}


.main-nav form {
  max-width: 900px;
  width: 40vw;
  min-width: 300px;
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.main-nav form input {
  flex: 1 auto;
  background: rgb(var(--teal-light));
  padding: .5em 1em;
  color: rgb(var(--teal-dark));
  border-radius: var(--radius);
  height: fit-content;
  border: none;
  outline: none;
  transition: var(--def-tran);
}

.main-nav form input:focus {
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--teal-dark), 20%);
}

.main-nav form input::placeholder {
  color: rgb(var(--teal-dark));
}

.main-nav ul {
  width: 500px;
  max-width: 30vw;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
}

.main-nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-nav ul li+li {
  margin: 0 0 0 1em;
}

.main-nav ul li a {
  padding: .5em 1em;
  font-size: .9em;
  font-weight: 600;
}

.main-nav ul li a:hover {
  background: rgb(var(--purple));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--purple), 30%);
}

.page-content {
  display: flex;
  flex-direction: row;
  height: calc(100% - min(50px, 2.5rem));
  min-height: calc(100vh - min(50px, 2.5rem));
  padding: 0 0 1em 0;
  background: rgb(var(--color-bg));
}

.page-content>div,
.page-content>nav {
  margin-top: var(--navbar-h);
}

.feed {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  max-width: 100%;
}

.feed-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
  max-width: 95vw;
}

.feed-wrap>h3 {
  background: linear-gradient(-170deg, rgb(var(--blue)), rgb(var(--purple)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(var(--purple));
  font-size: 1.6rem;
  font-weight: 500;
  margin: .75em 20px .2em 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  max-width: 95vw;
}

.detail h4,
.feed-wrap>h4 {
  background: linear-gradient(70deg, rgb(var(--blue)), rgb(var(--purple)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(var(--purple));
  font-size: 1.5rem;
  margin: .5em 20px .5em 20px;
}

.side-nav {
  height: 100vh;
  max-height: 100%;
  background: linear-gradient(90deg,
      rgb(var(--teal-light)) -100%,
      transparent 80%);
  display: flex;
  top: 0;
  position: fixed;
  width: 500px;
  max-width: 16vw;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
}

.side-nav .profile {
  display: flex;
  padding: .5em;
  align-self: baseline;
  border-radius: calc(var(--radius)*1.5);
  margin: .5em 0 .5em -.5em;
  transition: var(--def-tran);
  text-decoration: none;
}

.side-nav .profile:hover {
  background: rgb(var(--teal), 15%);
}

.side-nav .profile-image {
  height: 2.3em;
  width: 2.3em;
  align-self: center;
  border-radius: 10rem;
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow) rgb(var(--blue), 10%);
  margin: 5px;
}

.side-nav .profile h4 {
  vertical-align: middle;
  font-size: 1.2rem;
  color: rgb(var(--purple-dark));
  font-weight: 600;
  margin: .5em 1em .5em .5em;
  align-self: center;
  word-break: break-word;
}

.side-nav .icon {
  --color: var(--teal-dark);
  background: rgb(var(--teal), 15%);
  margin: 0 .25rem .25rem .25rem;
  vertical-align: top;
}

.side-nav h4 {
  display: inline;
  font-size: 1.1rem;
  color: rgb(var(--blue-dark));
  text-decoration: none;
  font-weight: 600;
  margin: 5px;
}

.side-nav .btn {
  align-self: baseline;
}

.side-nav .buttons {
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  margin: 0 0 1em 0;
}

.side-nav .buttons li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 .5em .5em 0;
  position: relative;
}

.side-nav .buttons li:last-of-type {
  margin: 0 0 .5em 0;
}

.side-nav .buttons li a {
  padding: .5em .75em;
  color: rgb(var(--purple));
  font-weight: 500;
  display: block;
  text-decoration: none;
  border-radius: var(--radius);
  z-index: 3;
}

.side-nav ul {
  flex-direction: column;
  display: flex;
}

.side-nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: .5em 0 .5em -.5em;
  position: relative;
}

.side-nav ul li a {
  padding: .5em 1em;
  color: rgb(var(--purple));
  display: block;
  text-decoration: none;
  border-radius: var(--radius);
  z-index: 3;
}

.side-nav ul li a .icon {
  fill: rgb(212, 155, 8);
  stroke: rgb(212, 155, 8);
  background: rgb(255, 205, 0, 10%);
  margin: 0 0 0 .3em;
  vertical-align: top;
  padding: .1em;
  width: 1em;
  height: 1em;
}

.side-nav ul li a:hover {
  background: rgb(var(--teal), 15%);
}

.post-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(var(--blue-light), 7%);
  border-radius: var(--radius) var(--radius) 0 0;
  margin: -10px -10px 0 -10px;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(var(--blue), 20%);
}

.post-info .icon-group {
  margin: 0 0 0 auto;
}

.post-info .icon-group:hover {
  background: inherit;
}

.post-info .icon-group:hover span {
  color: inherit;
}

.post-info .icon-group:hover .icon svg {
  background: rgb(var(--color), 10%);
}

.post-info div {
  font-size: 0.9rem;
  color: rgb(var(--color-fg-accent));
}

.post-info .linker {
  color: rgb(var(--blue));
  font-weight: 600;
  margin: .25em;
  text-decoration: none;
  transition: var(--def-tran);
  position: relative;
}

.post-info .linker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(to left, transparent 50%, rgb(var(--blue)) 80%, rgb(var(--purple)));
  background-position: 100% 0;
  background-size: 400% 200%;
  border-radius: calc(var(--radius)/2);
  font-weight: 600;
  transition: background-position 1s cubic-bezier(0.1, -0.03, 0.2, 0.92);
}

.post-info .linker:hover::after {
  background-position: 0 0;
}

.post-feed-card {
  display: flex;
  background: rgb(var(--pure-color));
  flex-direction: column;
  box-shadow: var(--shadow-sm) rgb(var(--color-fg-accent), 10%);
  border: 1px solid rgb(var(--purple), 20%);
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: var(--radius);
  transition: var(--def-tran);
}

.post-feed-card:hover {
  box-shadow: var(--shadow) rgb(var(--color-fg-accent), 10%);
}

.post-feed-card>a {
  color: rgb(var(--color-bg-accent));
  text-decoration: none;
}

.post-feed-card h3 {
  font-family: var(--fonts);
  color: rgb(var(--purple));
  font-weight: 600;
  font-size: 2rem;
  margin: .3rem 0 0 0;
}

.post-feed-card .content {
  padding: 0.5rem 0;
  line-height: 1.5em;
  color: rgb(var(--color-fg-accent));
  position: relative;
}

.post-feed-card .content.excerpt::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 0;
  background: linear-gradient(to bottom, transparent 50%, rgb(var(--pure-color)));
}

.post-feed-card .content img {
  display: block;
  color: rgb(var(--purple-dark));
  width: 99vw;
  max-width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  margin: .5em 0 0 0;
  border-radius: var(--radius);
  background: rgb(var(--blue-light), 20%);
  transition: var(--def-tran);
  cursor: pointer;
}

.post-feed-card .tools {
  font-size: 0.9rem;
  display: flex;
  color: rgb(var(--color-fg-accent));
}

.icon-group {
  display: inline-flex;
  align-items: center;
  margin: 0 .25em 0 0;
  padding: .25em 0;
  transition: var(--def-tran);
  border-radius: calc(var(--radius)/2);
}

.icon-group .icon {
  margin: 0 .25em 0 0;
}

.icon {
  display: inline;
  margin: .25em;
  width: 1.5em;
  height: 1.5em;
  background: rgb(var(--color), 10%);
  padding: 0.3em;
  border-radius: calc(var(--radius)/2);
  fill: rgb(var(--color));
  stroke: rgb(var(--color));
  color: rgb(var(--color-fg));
  transition: var(--def-tran);
}

.icon-group span {
  font-size: 0.9rem;
  color: rgb(var(--color-fg-accent));
}

.loading-dots {
  width: 2em;
  margin: 0 auto 1em auto;
  height: 1em;
  fill: rgb(var(--blue), 50%);
}

.loading-dots>* {
  animation: dots 2.3s ease-in-out infinite forwards;
  transform: translateY(50%);
}

.loading-dots #two {
  animation-delay: .3s;
}

.loading-dots #three {
  animation-delay: .6s;
}


@keyframes dots {
  20% {
    transform: translateY(50%);
  }

  40% {
    transform: translateY(-50%);
  }

  70% {
    transform: translateY(50%);
  }
}

.load-btn {
  padding: .5em .75em;
  font-weight: 600;
  border: none;
  font-size: 1em;
  min-width: 150px;
  color: rgb(var(--blue));
  background: rgb(var(--blue-light), 40%);
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: var(--radius);
  transition: var(--def-tran);
}

.load-btn:hover {
  background: rgb(var(--blue));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 30%);
}

.load-btn:focus {
  background: rgb(var(--blue-dark));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 50%);
}

.load-btn:disabled {
  cursor: default;
  color: rgb(var(--blue-dark), 70%);
  background: rgb(var(--blue-light), 20%);
  box-shadow: none;
}

/* form-modal page */

.form-modal {
  position: absolute;
  padding: 1rem 1.5rem;
  background: rgb(var(--pure-color));
  left: 50vw;
  top: 1em;
  margin: 0 auto;
  width: 700px;
  max-width: 95%;
  height: auto;
  cursor: initial;
  transform: translateX(-50%);
  box-shadow: var(--shadow-full);
  border-radius: var(--radius);
  border: 1px solid rgb(var(--purple), 20%);
  overflow-y: auto;
  z-index: 49;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  cursor: pointer;
  z-index: 40;
  background: rgb(var(--pure-color), 80%);
}


.form-modal .header {
  display: flex;
  margin: -1rem -1.5rem 1rem -1.5rem;
  padding: .9rem 1.5rem 0 1.5rem;
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 1px solid rgb(var(--purple), 20%);
  background-color: rgb(var(--purple-light), 20%);
}

.form-modal .header .icon-group {
  margin: 0 0 auto auto;
  cursor: pointer;
}

.form-modal .header .icon-group span {
  font-weight: 600;
  font-size: 1rem;
}

.form-modal .header .icon-group:hover {
  color: rgb(var(--color));
  cursor: pointer;
}

.form-modal .header .icon-group:hover .icon {
  fill: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
  background: rgb(var(--color));
  box-shadow: var(--shadow-sm) rgb(var(--color), 20%);
}

.form-modal .header h3 {
  font-size: 1.7rem;
  display: inline;
  font-weight: 700;
  margin: 0 0 .5em 0;
  color: rgb(var(--purple));
}

.form-modal form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.form-modal form label {
  display: block;
  font-size: 1em;
  position: relative;
  align-self: baseline;
  color: rgb(var(--purple-dark));
  font-weight: 500;
  padding: 1em 0 .35em 0;
}

.form-modal form label img {
  display: block;
  color: rgb(var(--purple-dark));
  width: 150px;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin: .5em 0 .85em 0;
  border-radius: var(--radius);
  background: rgb(var(--blue-light), 10%);
  border: 2px solid rgb(var(--blue), 10%);
  transition: var(--def-tran);
  cursor: pointer;
}

.form-modal form label img.free {
  width: auto;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

.form-modal form label img.place {
  width: 99vw;
  max-width: 100%;
  height: 200px;
  padding: 20px;
  object-fit: initial;
}

.form-modal form label img~svg {
  display: none;
}

.form-modal form label.contains img~svg {
  position: absolute;
  display: block;
  top: 3.25em;
  left: 100%;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin: 0 .5em;
  background: rgb(var(--pure-color));
  border-radius: var(--radius);
  border: 1px solid rgb(255, 0, 0, 20%);
  box-shadow: 0 2px 7px rgb(var(--color-fg-accent), 10%);
  fill: rgb(255, 0, 0);
  stroke: rgb(255, 0, 0);
  cursor: pointer;
  transition: var(--def-tran);
}

.form-modal form label img.free~svg:hover {
  background: rgb(255, 0, 0);
  box-shadow: var(--shadow-sm) rgb(255, 0, 0, 40%);
  fill: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
}

.form-modal form label img:hover {
  background: rgb(var(--blue-light), 10%);
  box-shadow: var(--shadow-sm) rgb(var(--blue), 25%);
}

.form-modal form select {
  outline: none;
  font-size: 1em;
  border: 1px solid rgb(var(--blue), 10%);
  padding: .5rem .25rem;
  margin: 0 0 1em 0;
  color: rgb(var(--blue-dark));
  background: rgb(var(--blue-light), 10%);
  border-radius: var(--radius);
  transition: var(--def-tran);
}

.form-modal form input {
  outline: none;
  font-size: 1em;
  transition: var(--def-tran);
}

.form-modal input::placeholder {
  color: rgb(var(--blue-dark), 50%);
}

.form-modal textarea {
  border: 1px solid rgb(var(--blue), 10%);
  padding: .5rem;
  font-family: var(--fonts);
  border-radius: var(--radius);
  color: rgb(var(--blue-dark));
  background: rgb(var(--blue-light), 10%);
  font-size: .9em;
  font-weight: 400;
  line-height: 1.5em;
  resize: vertical;
  outline: none;
  transition: var(--def-tran);
  margin: 0 0 1em 0;
}

.form-modal textarea::placeholder {
  color: rgb(var(--blue-dark), 50%);
  font-family: var(--fonts);
}

.form-modal textarea:focus {
  border: 1px solid rgb(var(--blue-light));
  box-shadow: var(--shadow-sm) rgb(var(--blue-light), 30%);
  background: rgb(var(--pure-color));
  color: rgb(var(--blue-dark));
}

.form-modal input:not([type='submit']) {
  padding: .5rem;
  position: relative;
  border: 1px solid rgb(var(--blue), 10%);
  border-radius: var(--radius);
  color: rgb(var(--blue-dark));
  background: rgb(var(--blue-light), 10%);
  margin: 0 0 1em 0;
}

.form-modal input:not([type='submit']).error {
  border: 1px solid rgb(255, 0, 0, 20%);
  color: darkred;
  background: rgb(255, 0, 0, 5%);
}

.form-modal input:not([type='submit']).error:focus {
  border: 1px solid rgb(255, 0, 0, 25%);
  box-shadow: var(--shadow-sm) rgb(255, 0, 0, 15%);
  background: rgb(var(--pure-color));
  color: darkred;
}

.form-modal input:not([type='submit']):focus {
  border: 1px solid rgb(var(--blue-light));
  box-shadow: var(--shadow-sm) rgb(var(--blue-light), 30%);
  background: rgb(var(--pure-color));
  color: rgb(var(--blue-dark));
}

.form-modal input:focus::placeholder {
  font-size: 1rem;
  color: rgb(var(--blue-dark));
}

.form-modal input[type='submit'] {
  padding: .5em .75em;
  font-weight: 600;
  border: none;
  font-size: 1.1em;
  min-width: 150px;
  color: rgb(var(--blue));
  background: rgb(var(--blue-light), 40%);
  display: block;
  cursor: pointer;
  margin: 1em auto 0 0;
  border-radius: var(--radius);
}

.form-modal input[type='submit']:hover {
  background: rgb(var(--blue));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 30%);
}

.form-modal input[type='submit']:focus {
  background: rgb(var(--blue-dark));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 50%);
}

.form-modal .footer {
  display: flex;
  flex-direction: column;
  margin: 1rem -1.5rem -1rem -1.5rem;
  padding: 0 1.5rem 1rem 1.5rem;
  border-top: 1px solid rgb(var(--blue), 20%);
  background: rgb(var(--blue-light), 10%);

}

.form-modal .form-msg {
  margin: -1.2em 0 0 0;
  display: block;
  transform: translateY(0.2em);
  font-size: 0.8em;
}

.form-modal .msg-icon {
  fill: rgb(var(--color-fg-accent));
  stroke: rgb(var(--color-fg-accent));
  vertical-align: text-bottom;
  margin: 0 .25em 0 0;
  width: 1.2em;
  height: 1.2em;
}

.spin {
  animation: spin 2s linear infinite normal forwards;

}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg);
  }
}

.form-modal .error.form-msg {
  color: red;
}

.form-modal .success.form-msg {
  color: green;
}

.form-modal .success.form-msg svg {
  stroke: green;
  fill: green;
}

.form-modal fieldset {
  border: none;
  border-radius: var(--radius);
  display: flex;
  margin: .5em 0;
}

.form-modal fieldset legend {
  font-size: 1em;
  font-weight: 500;
  color: rgb(var(--purple-dark));
}

.form-modal fieldset .split {
  min-width: 120px;
  flex-direction: column;
}

.form-modal fieldset .split label {
  font-size: 1em;
  font-weight: 400;
  color: rgb(var(--blue-dark));
}

/* unchecked */
.form-modal input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  width: 2.3em;
  height: .9em;
  padding: 0;
  margin: .5em 0 0 0;
  background: rgb(var(--blue-light), 30%);
  border-radius: calc(var(--radius)/2);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 .1em .1em rgb(var(--color-fg-accent), 15%);
  z-index: 1;
  transition: var(--def-tran);
}

.form-modal input[type="checkbox"]:focus {
  border: none;
  background: rgb(var(--blue-light), 30%);
  box-shadow: inset 0 .1em .1em rgb(var(--color-fg-accent), 15%);
  border-radius: calc(var(--radius)/2);
}

.form-modal input[type="checkbox"]::before {
  content: url('/public/eye-off.svg');
  display: block;
  color: rgb(var(--pure-color));
  text-align: center;
  line-height: 1.4em;
  padding: .2em;
  font-weight: 600;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  background: rgb(var(--blue-light));
  border-radius: var(--radius);
  box-shadow:
    inset 0 0 .8em .4em rgb(var(--color-fg-accent), 40%),
    inset 0 0 8em .4em rgb(var(--blue), 20%),
    .1em 0 .2em rgb(var(--color-fg-accent), 20%);
  z-index: 2;
  transform: translate(-0.05em, -18%);
  transition: var(--def-tran);
}

.form-modal input[type="checkbox"]::after {
  content: "private";
  position: absolute;
  top: -.1em;
  left: 3.2em;
  color: rgb(var(--color-fg-accent));
  font-size: 0.9em;
  font-weight: 400;
}

/* checked checkbox */
.form-modal input[type="checkbox"]:checked {
  background: rgb(var(--teal), 40%);
  box-shadow: inset 0 .1em .1em rgb(var(--color-fg-accent), 15%);
}

.form-modal input[type="checkbox"]:checked::after {
  content: "public";
}

.form-modal input[type="checkbox"]:checked::before {
  content: url('/public/eye-on.svg');
  left: 50%;
  background: rgb(var(--teal-dark));
  box-shadow: -.1em 0 .2em rgb(var(--color-fg-accent), 20%);
}

/* post details */
.modal-post {
  position: absolute;
  top: var(--navbar-h);
  width: 100%;
  left: 0;
}

.post-card {
  display: flex;
  position: absolute;
  width: 900px;
  max-width: 95vw;
  top: var(--navbar-h);
  left: 50%;
  background: rgb(var(--pure-color));
  flex-direction: column;
  box-shadow: var(--shadow-full);
  margin: 20px auto;
  padding: 1em;
  border: 1px solid rgb(var(--purple), 20%);
  border-radius: var(--radius);
  transform: translateX(-50%);
  transition: var(--def-tran);
  z-index: 49;
}

.post-card .header {
  display: flex;
  align-items: center;
}

.post-card .keeper {
  display: flex;
  align-items: center;
}

.post-card>.header {
  background: rgb(var(--purple-light), 15%);
  margin: -1em -1em 0 -1em;
  border-radius: var(--radius) var(--radius) 0 0;
  padding: .5em 1em;
  border-bottom: 1px solid rgb(var(--purple), 20%);
}

.post-card>.header>:last-child {
  margin-right: 0;
}

.post-card .header .item {
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  margin: 0 .25em;
  padding: .5em;
  font-weight: 700;
  align-self: center;
}

.post-card .header .item.empty {
  margin: 0 .3em;
  cursor: initial;
  color: rgb(var(--color-fg-accent), 70%);
  font-weight: 500;
}

.post-card .header .item.empty:hover {
  background: none;
}

.post-card .header .item img {
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm) rgb(var(--purple), 20%);
  object-fit: cover;
  margin: 0 .25em 0 0;
  background-color: rgb(var(--pure-color));
}

.post-card .header .label {
  font-size: 1em;
  font-weight: 400;
  color: rgb(var(--color-fg-accent), 70%);
}

.post-card .header .icon-group {
  margin: 0 0 0 auto;
}

.button-group {
  display: block;
  margin: 0 0 20px 0;
  padding: 0 20px;
}

.button-group button {
  color: rgb(var(--color));
  fill: rgb(var(--color));
  stroke: rgb(var(--color));
  font-size: 1rem;
  margin: 0 0.5em 0 0;
  outline: none;
  border: none;
  padding: .5em .75em;
  border-radius: var(--radius);
  background: rgb(var(--color), 10%);
  transition: var(--def-tran);
  cursor: pointer;
}

.button-group button:hover {
  color: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
  fill: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--color), 30%);
  background: rgb(var(--color));
}

.button-group button svg {
  vertical-align: text-bottom;
  margin: 0 0.4em 0 0;
}

.button-group a {
  text-decoration: none;
  color: inherit;
}


.post-card .body {
  margin: .5em 0;
}


.post-card .body h2,
.user-card h2,
.group-card h2 {
  color: rgb(var(--purple));
  font-size: 3rem;
}


.post-card .tools {
  margin: .5em 0;
  border-top: 2px solid rgb(var(--blue), 20%);
  padding: .75em 0;
}

.post-card .tools .icon-group {
  margin: 0 0 0 -.25em;
}

.post-card .body p {
  margin: .25em 0;
  line-height: 1.5em;
  color: rgb(var(--blue-dark));
  font-size: 1.1rem;
  margin: .5em 0;
}

.post-card .body img {
  display: block;
  color: rgb(var(--purple-dark));
  width: 90vw;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: calc(var(--radius)*2);
  background: rgb(var(--blue-light), 20%);
  transition: var(--def-tran);
}

.post-card .comments,
.comments .comment {
  display: flex;
  flex-direction: column;
}

.comments form.nested {
  margin: 0;
}

.comments form textarea {
  font-family: var(--fonts);
  padding: .5rem;
  position: relative;
  flex: 1 auto;
  border-radius: var(--radius);
  border: 1px solid rgb(var(--blue), 15%);
  color: rgb(var(--color-fg));
  background: rgb(var(--blue-light), 10%);
  resize: vertical;
  outline: none;
  transition: var(--def-tran);
  margin: 0 .5em 0 0;
}

.comments form textarea::placeholder {
  font-size: 1rem;
  color: rgb(var(--blue));
}

.comments form textarea:hover {
  background: rgb(var(--blue-light), 25%);
}

.comments form textarea:focus {
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 20%);
}

.comments form.nested textarea {
  background: none;
  border: none;
  color: rgb(var(--blue-dark));
  margin: -.5em .5em -.5em -.5em;
  font-size: 1em;
  resize: none;
}

.comments form.nested textarea:focus {
  color: rgb(var(--color-fg));
  box-shadow: none;
}

.comments form.nested button {
  margin: 0;
}

.comments form button {
  border: none;
  padding: .25rem;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  border-radius: var(--radius);
  color: rgb(var(--color-bg));
  background: rgb(var(--blue));
  transition: var(--def-tran);
  outline: none;
}

.comments form button svg {
  width: .9em;
  height: .9em;
}

.comments form button:focus {
  background: rgb(var(--color-bg));
  color: rgb(var(--blue));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 50%);
}

.comments form {
  display: flex;
  margin: 0 0 1.5em;
}

.comments .comment {
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm) rgb(var(--color-fg-accent), 5%);
  margin: 0 0 1em 0;
  padding: .5rem;
  border: 1px solid rgb(var(--blue-light));
  line-height: 1.4em;
}

.comments .comment .header {
  margin: -.5em -.5em .5em -.5em;
  padding: .4em .5em;
  border-bottom: 1px solid rgb(var(--blue), 10%);
  background: rgb(var(--blue-light), 10%);
  border-radius: var(--radius) var(--radius) 0 0;
}

.comments .comment .header>.buttoner {
  color: rgb(var(--color));
  font-weight: 500;
  display: flex;
  margin: 0;
  align-items: center;
}

.comments .comment .header>.buttoner.empty {
  color: rgb(var(--color-fg-accent), 70%);
  cursor: initial;
}

.comments .comment .header>.buttoner.empty:hover {
  background: none;
}

.comments .comment .header>.buttoner.empty:hover span {
  color: inherit;
}

.comments form img,
.comments .comment .header img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm) rgb(var(--blue), 20%);
  object-fit: cover;
  margin: 0 .5em 0 0;
  background-color: rgb(var(--pure-color));
}

.comments .comment .header img {
  width: 1.3em;
  height: 1.3em;
}

/* user details */

.user-card {
  margin: 20px 0;
  background: rgb(var(--pure-color));
  border-radius: var(--radius);
  padding: 20px;
  border: 1px solid rgb(var(--purple-light), 50%);
  box-shadow: var(--shadow-sm) rgb(var(--purple), 10%);
}

.user-card img {
  width: 10em;
  height: 10em;
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow) rgb(var(--purple), 10%);
  border-radius: calc(var(--radius)*2);
  margin: 0 1em 0 0;
  object-fit: cover;
}

.user-card .header {
  display: flex;
  position: relative;
  align-items: center;
}

.group-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0 20px 10px 20px;
}

.group-list .card {
  background: rgb(var(--pure-color));
  border-radius: var(--radius);
  border: 1px solid rgb(var(--blue), 20%);
  width: fit-content;
  max-width: 50%;
  display: flex;
  flex: 1 auto;
  padding: .5em;
  align-items: center;
  justify-content: start;
  height: auto;
}

.group-list .card img {
  height: 3em;
  width: 3em;
  object-fit: cover;
  border-radius: var(--radius);
  background: rgb(var(--pure-color));
}

.group-list .card a {
  display: flex;
  align-items: center;
  flex: 1;
  margin: -.5em;
  padding: .5em;
  border-radius: var(--radius);
  text-decoration: 3px solid underline transparent;
  text-decoration-skip-ink: none;
  height: auto;
  color: inherit;
  transition: var(--def-tran);
}

.group-list .card a:hover {
  background: rgb(var(--blue), 10%);
  text-decoration: 3px solid underline rgb(var(--teal), 30%);
  color: var(--blue-dark);
}

.group-list .card a:hover span {
  color: var(--blue-dark);
}

.group-list .card span {
  margin: 0 0 0 .5em;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(var(--blue));
  transition: var(--def-tran);
  word-break: break-word;
}


/* group details */

.group-card {
  margin: 20px 0;
  background: rgb(var(--pure-color));
  border-radius: var(--radius);
  padding: 20px;
  border: 1px solid rgb(var(--blue-light), 20%);
  box-shadow: var(--shadow-sm) rgb(var(--blue), 10%);
}

.group-card .header {
  display: flex;
  position: relative;
  align-items: center;
}

.group-card .header h2 {
  color: rgb(var(--blue));
}

.group-card img {
  width: 10em;
  height: 10em;
  background: rgb(var(--pure-color));
  box-shadow: var(--shadow) rgb(var(--blue), 10%);
  border-radius: calc(var(--radius)*2);
  margin: 0 1em 0 0;
  object-fit: cover;
}

.group-card p {
  font-size: 1em;
  color: rgb(var(--color-fg-accent));
  margin: 1em 0 0 0;
  line-height: 1.4em;
}

.group-card .stats {
  margin: 1em 0 0 0;
}

.group-card .stats .icon-group {
  margin: 0;
}

.buttoner.icon-group:hover svg {
  background: none;
}

.members-list {
  position: absolute;
  padding: 1rem 1.5rem;
  background: rgb(var(--pure-color));
  left: 50vw;
  top: 3em;
  margin: 0 auto;
  width: 900px;
  max-width: 95vw;
  height: auto;
  cursor: initial;
  transform: translateX(-50%);
  box-shadow: var(--shadow-full);
  border-radius: var(--radius);
  border: 1px solid rgb(var(--purple), 20%);
  overflow: auto;
  z-index: 49;
}

.members-list .header {
  background: rgb(var(--purple-light), 20%);
  border-bottom: 1px solid rgb(var(--purple), 20%);
  padding: 1rem 1.5rem;
  margin: -1rem -1.5rem 1rem -1.5rem;
}

.members-list .header h3 {
  font-size: 1.7rem;
  display: inline;
  font-weight: 700;
  margin: 0 0 .5em 0;
  color: rgb(var(--purple));
}

.members-list ul {
  list-style: none;
  max-height: 75vh;
  overflow-y: auto;
  margin: 0 -1em;
}

.members-list h4 {
  color: rgb(var(--color-fg-accent));
  font-size: 1.2rem;
  padding: 0 1em;
}

.members-list h4 span {
  color: rgb(var(--color-fg-accent), 50%);
  font-size: .9em;
}

.members-list ul li {
  border-radius: var(--radius);
  padding: .75em 1em;
  display: flex;
  align-items: center;
}

.members-list ul li+li {
  border-top: 1px solid rgb(var(--purple), 10%);
}

.members-list ul li:nth-of-type(2n) {
  background: rgb(var(--purple), 5%);
}

.members-list .buttoner {
  padding: .5em .75em;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
}

.members-list .buttoner img {
  border-radius: var(--radius);
  height: 1.5em;
  width: 1.5em;
  background: rgb(var(--pure-color));
  margin: 0 .5em 0 0;
}

.members-list ul li span {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(var(--color-fg-accent));
}

.members-list ul li .right {
  margin-left: auto;
}

.members-list ul li button {
  border: none;
  padding: .5em .8em;
  margin: 0 0 0 .5em;
  border-radius: calc(var(--radius)/2);
  border: 1px solid rgb(var(--color));
  color: rgb(var(--color-fg));
  background: rgb(var(--color), 10%);
  transition: var(--def-tran);
  cursor: pointer;
}

.members-list ul li button svg {
  vertical-align: middle;
  color: rgb(var(--color));
  height: 1.1em;
  width: 1.1em;
  margin-right: .3em;
  transition: var(--def-tran);
}

.members-list ul li button:hover {
  border: 1px solid rgb(var(--color));
  color: rgb(var(--comp-color));
  background: rgb(var(--color));
  box-shadow: 0 1px 6px rgb(var(--color), 30%), 0 0 6px rgb(var(--color-fg), 20%);
}

.members-list ul li button:hover svg {
  color: rgb(var(--comp-color));
}

.members-list .footer {
  padding: 1em 1.5em;
  margin: 1em -1.5em -1em -1.5em;
  border-top: 1px solid rgb(var(--blue), 20%);
  background: rgb(var(--blue-light), 10%);
}

.members-list .footer button {
  padding: .5em .75em;
  font-weight: 600;
  border: none;
  font-size: 1.1em;
  min-width: 120px;
  color: rgb(var(--blue));
  background: rgb(var(--blue-light), 40%);
  display: block;
  cursor: pointer;
  border-radius: var(--radius);
  transition: var(--def-tran);
}

.members-list .footer button:hover {
  background: rgb(var(--blue));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 30%);
}

.members-list .footer button:focus {
  background: rgb(var(--blue-dark));
  color: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--blue), 50%);
}

/* general */
.problem-card {
  display: flex;
  height: auto;
  border: 1px solid rgb(var(--color-fg-accent), 20%);
  border-radius: var(--radius);
  background: rgb(var(--color-fg-accent), 3%);
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.problem-card svg {
  width: 4em;
  height: 4em;
  fill: rgb(var(--blue), 50%);
  stroke: rgb(var(--color-fg-accent), 50%);
  transition: var(--def-tran);
  animation: boo 2s ease-in-out alternate infinite;
}

@keyframes boo {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5%);

  }
}

.problem-card div {
  display: block;
  color: rgb(var(--color-fg-accent), 80%);
  font-weight: 500;
  font-size: 1.3em;
  padding: .5em;
}

.problem-card div h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

.problem-card div p {
  margin-top: 5px;
  font-size: 0.9em;
  color: rgb(var(--color-fg-accent), 40%);
}

.context {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: .25em;
  position: relative;
  color: rgb(var(--color-fg-accent), 80%);
  z-index: 10;
}

.context-trigger {
  padding: .25em;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.context.absolute-r {
  position: absolute;
  right: 0;
  top: 0;
}

.context .context-list {
  position: absolute;
  display: block;
  top: 1.5em;
  right: 0;
  font-size: 1rem;
  width: max-content;
  border-radius: calc(var(--radius)/2);
  border: 1px solid rgb(var(--color-bg) 20%);
  box-shadow: var(--shadow-sm) rgb(var(--blue-dark), 50%);
  background: rgb(var(--blue-dark), 90%);
  list-style: none;
  max-width: 80vw;
  transform-origin: top;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: translateY(-.5em) scaleY(0.9);
  transition: var(--def-tran);
  z-index: 9;
}

.context .context-trigger.on+.context-list {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0) scaleY(1);
}

.context .context-list li {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: rgb(var(--pure-color), 80%);
  transition: var(--def-tran);
}

.context .context-list li :not(a) {
  padding: .75em .6em;
}

.context .context-list li:hover {
  color: rgb(var(--pure-color));
  background: rgb(var(--color-bg), 15%);
}

.context .context-list li+li {
  border-top: 1px solid rgb(var(--pure-color), 20%);
}

.context .context-list li a {
  padding: .75em .6em;
  color: rgb(var(--pure-color), 80%);
  display: block;
  text-decoration: none;
}

.context .context-list li:hover {
  color: rgb(var(--pure-color));
}

.context .context-list li span {
  display: block;
}


.context-dismiss.on {
  display: block;
}

.context-dismiss {
  position: fixed;
  left: 0;
  display: none;
  top: 0;
  height: max(100%, 100vh);
  width: max(100%, 100vw);
  z-index: 6;
}


@supports (backdrop-filter: blur(1px)) {
  .modal-background {
    background: rgb(var(--pure-color), 15%);
    backdrop-filter: blur(30px);
  }

  .context .context-list {
    background: rgb(var(--blue), 30%);
    backdrop-filter: blur(20px) brightness(25%);
  }
}

/* media queries */

@media screen and (max-width: 1300px) {
  .main-nav {
    justify-content: start;
  }

  .main-nav .spacer {
    width: auto;
    max-width: initial;
  }

  .main-nav ul {
    margin-left: auto;
    max-width: inherit;
  }

  .main-nav form {
    width: 100%;
  }

  .main-nav ul li {
    width: max-content;
  }
}

@media screen and (max-width: 1240px) {
  .side-nav {
    max-width: 20vw;
    position: relative;
  }

  .user-card,
  .group-card {
    margin: 20px;
  }

  .problem-card {
    margin: 0 20px;
  }

}

@media screen and (max-width: 824px) {
  .main-nav {
    padding: .5em 1em;
  }

  .main-nav .spacer,
  .main-nav ul {
    display: none;
  }

  .main-nav form {
    width: auto;
    flex: 1 auto;
    min-width: initial;
  }

  .side-nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    background: linear-gradient(90deg,
        rgb(var(--teal-light)) -100%,
        rgb(var(--pure-color)) 80%);
    display: none;
    max-width: none;
    z-index: 90;
  }

  .side-nav.show {
    display: flex;
  }

  @supports (backdrop-filter: blur(1px)) {
    .side-nav {
      background: linear-gradient(90deg,
          rgb(var(--teal-light)) -100%,
          rgb(var(--pure-color), 80%) 80%);
      backdrop-filter: blur(60px);
    }
  }

  .side-nav .profile img {
    height: 2em;
    width: 2em;
  }

  .side-nav .profile h4 {
    font-size: 1.7rem;
    margin: 0;
  }

  .side-nav .buttons {
    display: flex;
  }

  .side-nav h4 {
    display: inline;
    font-size: 1.5rem;
    color: rgb(var(--blue-dark));
  }

  .side-nav .icon {
    width: 1.8em;
    height: 1.8em;
  }

  .side-nav ul {
    font-size: 1.3em;
  }

  .side-nav ul li {
    margin: .5em 0 .5em -1em;
  }

  .group-list .card {
    padding: 1em;
    font-size: 1.2em;
  }

  .group-list .card a {
    margin: -1em;
    padding: 1em;
  }

  .post-card .header {
    flex-wrap: wrap;
  }

  .post-card .header .icon-group {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .problem-card {
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .problem-card svg {
    width: 5em;
    height: 5em;
  }

  .detail,
  .feed-wrap {
    width: 100%;
    max-width: initial;
  }

  .feed-wrap>h3 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem 1rem 0 1rem;
  }

  .feed {
    margin: 0;
  }

  .form-modal {
    padding: 1em;
  }

  .form-modal .header {
    margin: -1rem -1rem 1rem -1rem;
    padding: .9rem 1rem 0 1rem;
  }

  .form-modal .footer {
    display: flex;
    flex-direction: column;
    margin: 1rem -1rem -1rem -1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .form-modal form label.contains img~svg {
    right: 0;
    top: 3em;
    left: unset;
  }

  .post-feed-card {
    border: none;
    margin: 0 0 1em 0;
    border-radius: initial;
    border-left: none;
    border-right: none;
  }

  .post-card {
    width: 100%;
    border-radius: 0;
    border-left: none;
    border-right: none;
    max-width: unset;
  }

  .post-card .body h2 {
    font-size: 2.3em;
  }

  .post-card .body p {
    text-align: justify;
    line-height: 1.8em;
  }

  .post-info {
    border-radius: initial;
    justify-content: start;
    row-gap: .5rem;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .post-info .icon-group {
    margin: 0;
    padding: 0;
  }

  .post-info .context {
    margin: 0 0 0 auto;
    padding: 0;
  }

  .icon {
    width: 1.3em;
    height: 1.3em;
    padding: .2rem;
  }

  /* user and group details  */
  .user-card {
    --color: var(--purple-light)
  }

  .group-card {
    --color: var(--blue-light)
  }

  .user-card,
  .group-card {
    background: linear-gradient(-10deg,
        rgb(var(--pure-color)) 50%,
        rgb(var(--color), 30%));
    margin: 0 0 .5rem 0;
    padding: 1rem;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .user-card img,
  .group-card img {
    width: 7em;
    height: 7em;
    margin: 0;
  }

  .user-card .header,
  .group-card .header {
    flex-direction: column;
    row-gap: 1em;
  }

  .user-card h2,
  .group-card h2 {
    text-align: center;
    font-size: 1.7em;
  }

  .detail h4,
  .feed-wrap>h4 {
    margin: 1rem;
  }

  .group-list {
    margin: 0 1rem;
  }

  .group-list .card {
    padding: .5rem;
    max-width: initial;
  }

  .group-list .card a {
    font-size: 1rem;
    margin: -.5rem;
    padding: .5rem;
  }

  /* group details */
  .button-group {
    margin: .75rem;
    padding: 0;
  }
}