@font-face {
  font-family: 'Lexend';
  src: local('Lexend') url(../fonts/Lexend-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 400 900;
}

:root {
  /* pure rgb values so I can change transparency */
  --pure-color: 255, 255, 255;
  --color-bg: 254, 250, 253;
  --color-fg: 24, 24, 26;
  --color-fg-accent: 71, 71, 83;
  --purple-dark: 98, 19, 140;
  --purple: 154, 25, 225;
  --purple-light: 255, 230, 254;
  --blue-dark: 8, 29, 97;
  --blue: 41, 112, 255;
  --blue-light: 194, 214, 255;
  --teal-dark: 46, 182, 208;
  --teal: 90, 253, 199;
  --teal-light: 227, 255, 234;
  --radius: 0.5rem;
  --shadow-sm: 0 2px 8px;
  --shadow: 0 2px 20px;
  --shadow-full: 0 2px 20px rgb(32 47 74 / 20%);
  --fonts: 'Lexend', 'Segoe UI', sans-serif;
  --transition: 0.3s ease;
  --def-tran: all var(--transition);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul li a {
  transition: var(--def-tran);
}

h1 {
  font-family: var(--fonts);
  font-weight: 800;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.hidden {
  display: none;
}

.red {
  --color: 255, 100, 100;
  --comp-color: var(--pure-color);
}

.blue {
  --color: var(--blue);
  --comp-color: var(--pure-color);
}

.green {
  --color: 35, 210, 120;
  --comp-color: var(--pure-color);
}

.purple {
  --color: var(--purple);
  --comp-color: var(--pure-color);
}

.buttoner {
  cursor: pointer;
  margin: .25em;
  padding: .25em;
  transition: var(--def-tran);
  border-radius: calc(var(--radius)/2);
}

.buttoner * {
  transition: var(--def-tran);
}

a.buttoner {
  text-decoration: none;
  color: rgb(var(--color));
}

.buttoner:hover {
  background: rgb(var(--color), 10%);
}

.buttoner:hover * {
  color: rgb(var(--color));
}

.buttoner:hover .icon svg {
  background: transparent;
}

.btn {
  padding: .5em 1em;
  background: rgb(var(--color), 10%);
  color: rgb(var(--color));
  fill: rgb(var(--color));
  stroke: rgb(var(--color));
  text-decoration: none;
  border-radius: var(--radius);
  transition: var(--def-tran);
  cursor: pointer;
  text-align: center;
}

.btn svg {
  vertical-align: text-bottom;
  margin: 0 .3em 0 0;
}

.btn:hover {
  background: rgb(var(--color));
  color: rgb(var(--pure-color));
  fill: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
  box-shadow: var(--shadow-sm) rgb(var(--color), 40%);
}

.delete {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.3rem;
  margin: 0 0 0 .25em;
  background: rgb(255, 0, 0, 15%);
  border-radius: calc(var(--radius)/2);
  fill: rgb(255, 0, 0);
  stroke: rgb(255, 0, 0);
  cursor: pointer;
  transition: var(--def-tran);
}

.delete:hover {
  background: rgb(255, 0, 0);
  box-shadow: var(--shadow-sm) rgb(255, 0, 0, 40%);
  fill: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
}

.edit {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.3rem;
  margin: 0 0 0 .25em;
  background: rgb(var(--blue-light), 60%);
  border-radius: calc(var(--radius)/2);
  fill: rgb(var(--blue));
  stroke: rgb(var(--blue));
  cursor: pointer;
  transition: var(--def-tran);
}

.edit:hover {
  background: rgb(var(--blue));
  box-shadow: var(--shadow-sm) rgb(var(--blue-dark), 20%);
  fill: rgb(var(--pure-color));
  stroke: rgb(var(--pure-color));
}

.error-page {
  margin: 0 auto;
  width: 900px;
  max-width: 95vw;
  position: relative;
  background: rgb(var(--pure-color));
  z-index: 6;
}

.error-page h1 {
  font-size: 5em;
  font-weight: 800;
  background: linear-gradient(170deg, rgb(var(--purple)), rgb(var(--blue)));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.error-page h2 {
  font-size: 1.7em;
  font-weight: 600;
  color: rgb(var(--blue-dark));
}

.error-page p {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(var(--blue-dark));
  margin: .5em 0;
}

.error-page a {
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(var(--blue-dark));
  margin: .5em 0;
  text-decoration: none;
  transition: var(--def-tran);
  position: relative;
}

.error-page a sup {
  font-size: 0.5em;
  color: rgb(var(--blue-dark), 40%);
}

.error-page a::before {
  content: "►";
  position: absolute;
  top: 50%;
  left: -1.2em;
  color: rgb(var(--teal));
  font-size: 0.5em;
  transform: translateY(-35%);
  font-weight: 700;
  transition: var(--def-tran);
}

.error-page a:hover {
  color: rgb(var(--blue));
}

.error-page a:hover::before {
  color: rgb(var(--purple-light));
  transform: translateY(-35%) scale(1.3);
}

.blur-background {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  cursor: pointer;
  z-index: 5;
  background: rgb(var(--pure-color), 80%);
}

@supports (backdrop-filter: blur(2px)) {
  .blur-background {
    backdrop-filter: blur(5px);
    background: rgb(var(--pure-color), 80%);

  }
}

footer {
  width: 100%;
  height: min(2.5rem, 50px);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--shadow-full);
  align-items: center;
}

footer img {
  object-position: left;
  height: 100%;
  object-fit: contain;
  filter: grayscale();
}

footer div {
  font-size: .9em;
  color: rgb(var(--color-fg-accent));
}

.toast {
  position: fixed;
  top: 4em;
  left: max(50%, 50vw);
  transform: translateX(-50%);
  background: rgb(var(--color));
  color: rgb(var(--comp-color));
  padding: .5em;
  height: 4em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: var(--radius);
  border: 1px solid rgb(var(--color-fg-accent), 10%);
  box-shadow: var(--shadow-sm) rgb(var(--color), 80%),
    var(--shadow-sm) rgb(var(--color-fg), 20%);
  width: min(700px, 95vw);
  animation: popIn .5s ease 1 forwards;
  transition: var(--def-tran);
  z-index: 90;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }

  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.toast.disappear {
  animation: popOut .5s ease 1 forwards;
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
}

.toast .icon {
  width: 2em;
  fill: rgb(var(--comp-color), 80%);
  stroke: rgb(var(--comp-color), 80%);
  height: 2em;
}

.toast span {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

.toast button {
  font-size: 1.5em;
  top: 50%;
  right: 0;
  position: absolute;
  line-height: 1em;
  opacity: 0;
  transform: translateY(-50%);
  color: rgb(var(--comp-color), 80%);
  fill: rgb(var(--comp-color), 80%);
  stroke: rgb(var(--comp-color), 80%);
  background: transparent;
  border: none;
  transition: var(--def-tran);
  cursor: pointer;
}

.toast:hover button {
  opacity: 1;
  right: .5em;
}

.toast button:hover {
  color: rgb(var(--comp-color));
  stroke: rgb(var(--comp-color));
  fill: rgb(var(--comp-color));
}